:root {
    --crt-red: rgb(218, 49, 49);
    --crt-green: rgb(112, 159, 115);
    --crt-blue: rgb(40, 129, 206);
    --background-color: darkslategrey;
    --Primary-Color: #0e262e;
    --Secondary-Color: lightslategray;
    --Third-Color: #E5D9B6;
    ;
}

/* Global */

.pink {
    color: pink;
}

.yellow {
    color: yellow;
}

.lightblue {
    color: lightblue;
}

.wrapper {
    padding-top: 2rem;
    padding-left: 1rem;
    display: inline-block;
    white-space: nowrap;
}


.crt {
    text-shadow: 0 0 0.2em currentColor, 1px 1px rgba(255, 0, 255, 0.5),
        -1px -1px rgba(0, 255, 255, 0.4);
    position: relative;

    &:before,
    &:after {
        content: "";
        transform: translateZ(0);
        pointer-events: none;
        opacity: 0.2;
        mix-blend-mode: overlay;
        position: absolute;
        height: 100vh;
        width: 100vh;
        left: 0;
        top: 0;
        z-index: 1;
    }

    &:before {
        border-radius: 25px;
        background: repeating-linear-gradient(var(--crt-red) 0px,
                var(--crt-green) 2px,
                var(--crt-blue) 4px);
    }

    &:after {
        border-radius: 25px;
        background: repeating-linear-gradient(90deg,
                var(--crt-red) 1px,
                var(--crt-green) 2px,
                var(--crt-blue) 3px);
    }
}

html {
    scroll-behavior: smooth;
}

/* animations*/

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes zoom {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.05);
    }
}

/* fonts used */


h1 {
    font-family: "Outfit", sans-serif;
    color: var(--Third-Color);
}

h2 {
    font-family: "Outfit", sans-serif;
    text-align: center;
    color: var(--Third-Color);
}

h3 {
    font-family: "Outfit", sans-serif;
    color: var(--Third-Color);
}


p {
    font-family: "Outfit", sans-serif;
    color: var(--Third-Color);
}

a,
a:visited {
    font-family: "outfit", sans-serif;
    font-style: normal;
    color: black;
    background-color: var(--Secondary-Color);
    padding: 6px 6px 6px 6px;
    border: 2px;
    border-radius: 25px;
    text-decoration: none;
    box-shadow: 2px 4px 5px 2px black;
}

a:hover {
    font-style: normal;
    color: black;
    background-color: var(--Third-Color);
}

a:active {
    font-style: normal;
    background-color: var(--accent-color);
    padding: 6px 6px 6px 6px;
    border: 2px;
    border-radius: 25px;
    text-decoration: none;
}

/*body styling*/
body {
    max-width: 1200px;
    justify-self: center;
    background-color: var(--background-color);
    border-radius: 25px;

}

/* header styling */

header {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    border-radius: 25px;
    margin-bottom: 1%;
}

/* website name styling */

.websiteName {
    font-family: "Outfit", sans-serif;
    font-style: normal;
    text-align: center;
    animation: animate__heartBeat 3s ease-out;
}


/* logo styling */

.logo {
    text-align: center;
    padding-top: 2%;
    margin-bottom: auto;
    pointer-events: none;
    user-select: none;
}

.logoArt {
    margin: auto;
    max-width: 30%;
    min-width: 25%;
    background-color: lightgray;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px white;
}

/* Animation of logo*/

.Spinlogo:active {
    animation: spin 0.75s infinite linear;
}


/* menu styling */

.navbar {
    padding: 1.5%;
    padding-bottom: 0.1%;
    background-color: var(--Primary-Color);
    border-radius: 25px;
    margin-bottom: 15px;
}


#main-menu {
    margin-bottom: 25px;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    grid-gap: 10px;

}


.button {
    font-family: "Outfit", sans-serif;
    background-color: var(--Secondary-Color);
    box-shadow: 2px 4px 5px 2px black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
    display: grid;
    text-align: center;
    margin: 1%;
}

/* body styling */


.hero {
    font-style: italic;
    text-decoration: double;
    text-align: center;
    color: var(--Third-Color);
}

.heroImage {
    margin: auto;
    max-width: 100%;
    display: flex;
    border-radius: 25px;
    padding-bottom: 10px;


}

.slogan {
    font-size: 30px;
    ;
    background-color: var(--Primary-Color);
    border-radius: 25px;
}

/* skill */

.SkillContainer {
    max-width: 100%;
    background-color: var(--Primary-Color);
    border-radius: 25px;
    padding-bottom: 25px;
}

.SkillsGrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(265px, 100%), 1fr));
    grid-gap: 4px;
    margin: auto;

}

.SkillPairs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    background-color: var(--Secondary-Color);
    border: 2px solid;
    border-radius: 25px;
    padding: 7px;
    margin-left: 5px;
    margin-right: 5px;
    max-width: 100%;
    max-height: 80px;
    justify-content: center;

}

/* skill icon zoom */

.SkillPairs:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

.skill {
    font-size: 24px;
    color: black;
    padding-top: 5px;
}

.SkillImage {
    max-width: 25%;
    max-height: 90%;
    filter: drop-shadow(0px 2px 1px white);
}

.HoverZoom:hover {
    transition: 2s;
    transform: scale(1.2);
}

/* contact */

.contact {
    text-align: center;
    margin: auto;
    background-color: var(--Primary-Color);
    border-radius: 25px;
    padding-bottom: 25px;
}

.emailLink {
    margin-top: 1px;
    display: inline-flex;
    font-family: "Outfit", sans-serif;
    background-color: lightslategray;
    color: black;
    border: 2px;
    border-radius: 25px;
    box-shadow: 2px 4px 5px 2px black;
    padding: 8px;
    padding-left: 4px;
    padding-right: 4px;
}

/* resume */

.resume {
    text-align: center;
    background-color: var(--Primary-Color);
    border-radius: 25px;
    padding-bottom: 25px;
}

.resumeImage {
    max-width: 100%;
    margin: auto;
    margin-bottom: 2%;
    display: flex;
    border-radius: 10px;

}


footer {
    text-align: center;
    padding-top: 2%;
    margin-top: 1%;
    border-radius: 25px;
    max-width: 100%;
    padding-bottom: 10px;
}

.bottomLogo {
    max-width: 25%;
    background-color: lightgray;
    border-radius: 50%;
    box-shadow: 0 0 5px 5px white;
    margin-bottom: 1%;
    pointer-events: none;
    user-select: none;
}


@media (max-width: 1024px) {

    #main-menu {
        margin-bottom: 25px;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        grid-gap: 10px;
    }

    .menu {
        list-style-type: none;
        flex-direction: column;
        display: inline-flex;
        padding-right: 4%;
        gap: 20px;
        padding-right: 7%;
    }


}

@media (max-width: 768px) {

    #main-menu {
        margin-bottom: 25px;
        gap: 20px;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-auto-flow: row;
        grid-gap: 10px;
    }

    .menu {
        list-style-type: none;
        flex-direction: column;
        display: inline-flex;
        gap: 20px;
    }


}